In [1]:
import pandas as pd
import seaborn as sns
import numpy as np 
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import difflib
%matplotlib inline

In [2]:
df = pd.read_csv("anime.csv")

In [3]:
df.head()

,title,type,plot,genre,released,status,other_names
0,.Hack//G.U. Returner,Movie,hack//G.U. Returner is a single-episode OVA o...,"Adventure, Drama, Game, Harem, Martial Arts, ...",2007.0,Completed,.HACK//G.U. RETURNER
1,.hack//G.U. Trilogy,Movie,"Based on the CyberConnect2 HIT GAME, now will...","Action, Game, Harem, Seinen",2008.0,Completed,.hack//G.U. Trilogy
2,.hack//Gift,OVA,As an expression of gratitude for the heroes ...,"Comedy, Fantasy, Game",2003.0,Completed,.hack//Gift
3,.hack//Legend of the Twilight,TV Series,.hack//Legend of the Twilight,"Adventure, Comedy, Fantasy, Sci-Fi, Shounen",2003.0,Completed,".hack//Tasogare no Udewa Densetsu, .hack//Ude..."
4,.hack//Liminality,TV Series,"The story follows three girls, Mai Minase, Yu...","Mystery, Sci-Fi",2002.0,Completed,Hack OVA

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12248 entries, 0 to 12247
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        12248 non-null  object
 1   type         12244 non-null  object
 2   plot         11788 non-null  object
 3   genre        12196 non-null  object
 4   released     12245 non-null  float64
 5   status       12248 non-null  object
 6   other_names  11699 non-null  object
dtypes: float64(1), object(6)
memory usage: 669.9+ KB

In [10]:
df.isnull().sum()

title          0
type           0
plot           0
genre          0
released       3
status         0
other_names    0
dtype: int64

In [8]:
selected_column = ["genre", "plot", "type", "other_names"]

In [9]:
for feature in selected_column:
    df[feature] = df[feature].fillna("")

In [11]:
combined = df["genre"] +""+df["plot"]+""+df["type"]+""+df["other_names"]

In [12]:
combined

0         Adventure, Drama, Game, Harem, Martial Arts, ...
1         Action, Game, Harem, Seinen Based on the Cybe...
2         Comedy, Fantasy, Game As an expression of gra...
3         Adventure, Comedy, Fantasy, Sci-Fi, Shounen ....
4         Mystery, Sci-Fi The story follows three girls...
                               ...
12243     Action, Adventure, Drama, Fantasy, Harem A ta...
12244     Action, Adventure, Drama, Fantasy A talented ...
12245     Drama, Romance, School, Slice of Life In the ...
12246                    Sports ONA Left-Hand Layup!; 左手上篮
12247     Romance, School Kokuhaku Jikkou Iinkai Movie ...
Length: 12248, dtype: object

In [13]:
tf = TfidfVectorizer()

In [14]:
feature_vect = tf.fit_transform(combined)

In [15]:
similar = cosine_similarity(feature_vect)

In [16]:
list_of_titles = df["title"].tolist()

In [20]:
def movie_recommend():
    movie = input("Enter movie title: ")
    
    find_close_match = difflib.get_close_matches(movie, list_of_titles)
    close_match = find_close_match[0]
    movie_index = df[df.title == close_match].index.values[0]
    similar_score = list(enumerate(similar[movie_index]))
    sorted_list = sorted(similar_score, key = lambda x:x[1], reverse = True)
    
    
    print ("Movie recommended are: ")

    i = 1

    for film in sorted_list:
        index = film[0]
        title_movie  = df[df.index == index]["title"].values[0]
        if (i<31):
            print(i, ".", title_movie)
            i+=1

In [24]:
ft = movie_recommend()

Movie recommended are:
1 . Vinland Saga
2 . Vinland Saga (Dub)
3 . Vinland Saga Season 2 (Dub)
4 . Vinland Saga Season 2
5 . Dororo
6 . Cike Wu Liuqi (Dub)
7 . Cike Wu Liuqi (Japanese Dub)
8 . How to Train Your Dragon Homecoming (2019) (Dub)
9 . Baki The Grappler
10 . Afro Samurai (Dub)
11 . Ichi The Killer: Episode 0 (Dub)
12 . Kochouki: Wakaki Nobunaga (Dub)
13 . Crooked God Of War (2022)
14 . Superman: The Animated Series (1996)
15 . Hyouge Mono
16 . Kochouki: Wakaki Nobunaga
17 . Chiisana Viking Vickie
18 . Chiisana Viking Vickie (Dub)
19 . Peacemaker
20 . Horus Prince of the Sun
21 . I Return From The Heavens
22 . The Strongest Heavenly Venerate in the Happy City
23 . Kouchuu Ouja Mushiking: Mori no Tami no Densetsu
24 . Araiguma Rascal
25 . Nine Heavens Emperor God
26 . Ganbare Genki
27 . Shokugeki no Souma (Dub)
28 . Dorohedoro
29 . Shikkakumon no Saikyou Kenja
30 . Sumomomo Momomo